*{
	margin: 0px;
	padding: 0px;
}


#texto{
	font: bold 30px tohama; 
	width: 100%;
	margin-top: -750px;
margin-left: 850px;
}

#textoNOMBRE{
	font: bold 25px tohama; 
	width: 100%;
	margin-top: -170px;
margin-left: 600px;
}
#textoMEDIO{
	font: bold 20px tohama; 
	width: 100%;
	margin-left: 600px;
}

#textofecha{
	font: bold 25px tohama; 
	width: 100%;
	margin-top: -10px;
margin-left: 600px;
}

#textoExperiencia{
	font: bold 25px tohama; 
	width: 100%;
	margin-top: 0px;
margin-left: 600px;
}
#textoFORMACION{
	font: bold 25px tohama; 
	width: 100%;
	margin-top: 170px;
margin-left: 600px;
}
#posiciontabla{

	font: bold 15px tohama; 
	width: 35%;
	margin-top: 220px;
margin-left: 600px;
}

div#general{
	margin: auto;
	width: 1540px;
	height: 750px;
	background-color: rgb(49,226,227); ;
}

div#PanelIzquierdo{
	width: 500px;
	height: 750px;
	background-color: rgb(137,255,155);

}

div#PanelFoto{
    
    margin-left: 100px;
	width: 250px;
	height: 250px;
	background-color: rgb(213,218,255);
	border-radius: 50px;

}
img{
	margin-top: 12px;
margin-left: 12px;
border-radius: 50px;
}